<div class="min-h-screen w-full flex bg-background">
    <div class="hidden lg:block lg:w-1/2 relative">
        <img 
            src="login-side.jpg" 
            alt="Chef preparando prato" 
            class="absolute inset-0 w-full h-full object-cover object-left" 
        />
    </div>

    <div class="w-full lg:w-1/2 flex items-center justify-center p-8 bg-background">
        <div class="w-full max-w-md">

            <div class="mb-10">
                <h1 class="text-4xl font-bold text-white mb-3">{{ title }}</h1>
                <p class="text-subtext text-sm">{{ subtitle }}</p>
            </div>

            <ng-content></ng-content>
            
        </div>
    </div>
</div>